.c-logo {
    display: flex;
    align-items: center;
    color: rgb(var(--title-color));
}

.c-logo__image {
    width: 1.5rem;
    margin-right: .5rem;
}

.c-logo__title {
    font-size: .75rem;
    color: currentColor;
    font-weight: normal;
    white-space: nowrap;
}