.c-toggle-sidebar {
    display: flex;
    align-items: center;
    width: max-content;
    color: rgb(var(--icon-color));
    font-size: 1.2em;
    border-radius: .3rem;
    white-space: nowrap;
}

.c-toggle-sidebar:hover {
    background-color: rgb(var(--hover-bg-color));
}

.c-toggle-sidebar__icon {
    transition: .5s ease-out;
}