.c-toggle-sidebar {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 10px;
    color: rgb(var(--text-color));
    border-radius: .3rem;
    white-space: nowrap;
    font-size: .9em;
}

.c-toggle-sidebar:hover {
    background-color: rgb(var(--border-color), .5);
}

.c-toggle-sidebar__icon {
    padding-bottom: 2px;
    transition: .5s ease-out;
}