.c-window-controls {
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    max-height: 100%;
    justify-content: flex-end;
    width: 100%;
    font-size: .9rem;
    color: rgb(var(--title-color));
    overflow: hidden;
    z-index: 7;
}

.c-window-controls__item {
    position: relative;
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem 1rem;
}

.c-window-controls__item:hover {
    background-color: rgb(var(--border-color));
}

.c-window-controls__item--close:hover {
    background-color: rgb(var(--red-color));
    color: #fff;
}

.c-window-controls__item--maximize {
    font-size: .7rem;
}

.c-window-controls__item--maximize-layer-1 {
    background-color: rgb(var(--bg-color));
    z-index: 1;
}

.c-window-controls__item--maximize-layer-2 {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
}