.c-searchbar {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 10px 20px;
    color: rgb(var(--text-color));
    transition: .2s;
}

.c-searchbar__field {
    font-family: 'Heebo', sans-serif;
    flex: 1;
    background-color: rgb(var(--bg-color));
    padding: 8px 10px;
    border-radius: .3rem;
    font-size: .875em;
    text-decoration: none;
    outline: none;
}

.c-searchbar__field:focus {
    padding: 7.5px 10px;
    border-bottom: 2px solid rgb(var(--accent-color));
    background-color: rgb(var(--bg-color--solid));
}

.c-searchbar--result-opened .c-searchbar__field {
    border-radius: .3rem .3rem 0 0;
}

.c-searchbar__icon {
    position: absolute;
    color: rgb(var(--icon-color));
    padding: 8px;
    border-radius: .3rem;
    /* height: .7em; */
    width: .875em;
    right: 1.8rem;
    transition: .2s;
}
.c-searchbar__icon:hover {
    background-color: rgb(var(--hover-bg-color));
}

.c-searchbar__icon--clear {
    /* display: none; */
    margin-right: 2.3rem;
}

/* SEACHBAR--OPENED */

.c-searchbar--opened .c-searchbar__field{
    opacity: 1;
    pointer-events: all;
}
.c-searchbar--opened .c-searchbar__icon {
    right: 1.8rem;
    /* height: .7em; */
    padding: 8px;
}

/* .c-searchbar--opened .c-searchbar__icon--clear {
    display: block;
} */

.c-popup--searchbar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 .5rem .5rem !important;
    background-color: rgb(var(--bg-color--light));
    min-width: auto !important;
    max-height: 20rem;
    padding: .2rem !important;
    padding-right: .2rem !important;
    overflow: hidden;
    z-index: 1;
}

.c-popup--searchbar__list {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.c-popup--searchbar .c-popup__item {
    padding: .7rem 1rem;
}

@media (max-width: 999px) {

    .c-searchbar__field {
        opacity: 0;
        pointer-events: none;
    }
    .c-searchbar__icon {
        right: .35rem;
        height: .9em;
        padding: .7rem;
    }
}

@media (max-width: 655px) {
    .c-searchbar__field {
        opacity: 1;
        pointer-events: all;
    }
    .c-searchbar__icon {
        right: 1.8rem;
        height: .7em;
        padding: 8px;
    }
}